@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);

*{ margin: 0; padding: 0; outline: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }		

body{
margin: 0;	
padding: 0;				
font-size: 0;
background-color: #FFFFFF;
/*overflow-x: hidden;*/
}

.barra{
/*display: block;
vertical-align: top;*/
}
		
.barralateral-principal{
padding-top: 15;
min-height: 100%;
width: 15%;
z-index: -1;
}

.barralateral{
background-color: #3E474F;
color: #fff;
padding-bottom: 10px;
}

.barralateral-menu{
font-family: 'Source Sans Pro', sans-serif;
font-size: 18px;
list-style: none;
margin: 5px;
padding-top: 60px;
/*padding-left: 45px;*/
}

.barralateral-menu h3{
margin: 0 auto;
padding: 0 0 18px;
}

.barralateral-menu li{
position: relative;
margin: 5px;
padding: 0;
list-style: none;
}

.barralateral-menu a {
color: #fff;
margin-left: 10px;
text-decoration: none;
}

.cajatexto,
.cajatexto-tablero{
border: 1px solid #B8B8B8;
border-radius: 5px;
color: #B8B8B8;
display: block;
margin: 10px auto;
padding: 10px 5px;
vertical-align: top;
text-transform: uppercase;
width: 85%;
}

.boton,
.boton-tablero{
background-color: #FF656D;
border: 1px solid #fff;
border-radius: 5px;
color: #fff;
display: block;
margin: 10px auto;
padding: 10px 5px;
text-align: center;
width: 100px;
}

.cajatexto-tablero,
.boton-tablero{
	display: inline-block;
	vertical-align: top;
}

.boton-tablero{
background-color: #00AB6B;
}

.cajatexto-tablero{
	width: 200px;
}

.cabecera{
background-color: #FF656D;
color:#fff;
font-family: 'Source Sans Pro', sans-serif;
font-size: 20px;
font-weight: 300;
height: 65px;
position: fixed;
text-align: left;
width: 100%;
z-index: 1;
}

.caja{
background: #FFFFFF;
border-radius: 3px;
border-top: 5px solid #FF656D;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
margin: 10px auto;
margin-bottom: 20px;
padding: 15px 15px; 		
width: 350px;
}

.caja-menu{
border-radius: 3px;
border-top: 5px solid #FFF;
margin: 0 auto;
padding: 10px 5px;
}

.etiqueta{
color:#FF656D;
display: block;
font-family: 'Source Sans Pro', sans-serif;
margin: 15px auto;
padding: 10px 5px;
text-align: center;
font-size: 40px;
width: 97%;
}

.celeste{
background-color: #39cccc;
}

.contenedor, .barralateral-principal{
display: inline-block;
vertical-align: top;
}

.contenedor{
background-color: #ecf0f5;
font-family: 'Source Sans Pro', sans-serif;
min-height: 100%;
width: 85%;
}

.contenido{
min-height: 250px;
padding: 5px;
margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px;
padding-top: 79px;
width: 100%
}

.contenido h2{
font-size: 24px;
text-align: center;
}

/*.edificios h3 {
display: inline-block;
margin: 0px;
padding: 10px;
background-color: #3E474F;
width: 207px;
color: #fff;
}*/
/*.espacios:hover {
background-color: #ff5000;
}
.espacios{
display: inline-block;
vertical-align: top;
width: 50px;
text-align: center;
background-color: #39cccc;
border: 1px solid #fff;
color: #fff;
cursor: pointer;
padding: 10px 5px;
}*/

.naranja{
background-color: #ff5000;
}

.tablero{
padding-top: 15px;
margin-bottom: 30px;
}
.logo{
width: 15%;	
}
.logo a{
color: #fff;
font-size: 24px;
float: left;
margin-left: 45px;
margin-top: 10px;
}

.logo a:hover{
color: #000;
font-size: 30px;
margin-left: 40px;
}

.valores{
font-size: 16px;
margin-left: 25px;
width: 35%;
}

.valores div{
display: block;
}

.valores p{
display: inline-block;
}

.registrar{
width: 47%;
}

.logo,
.valores,
.registrar{
display: inline-block;
vertical-align: top;
}

.registrar form{
float: right;
/*margin-right: 20px;
margin-top: 14px;*/
}

.info-torre{
display: block;
}

.edificios{
background: #ffffff;
border-radius: 3px;
border-top: 5px solid #FF656D;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
margin: 15px auto;
margin-bottom: 20px;
/*padding: 15px 15px;*/
width: 98%;
display: block;
font-size: 24px;	
}

.edificios .nombre_torre,
.edificios .icono_torre{
display: inline-block;
vertical-align: top;
padding: 15px;
}

.edificios .nombre_torre{
/*width: 95%;*/
}

.edificios .icono_torre {
width: 32px;
height: 32px;
padding: 4px;
margin: 15px;
cursor: pointer;
float: right;
border: 2px solid #FFF;
outline: none;
transform: rotate(180deg);
}

.edificios .flaticon-menu57:before {
margin: 0;	
}

.edificios .icono_torre:hover{
border: 2px solid #FF656D;
background: #FF656D;
border-radius: 20px;
}

.niveles {
margin: 5px;
margin-bottom: 20px;
background-color: #3E474F;
color: #FFF;
display: inline-block;
vertical-align: top;
border-radius: 5px;
padding: 10px;
width: 180px;
text-align: left;
/* border: 1px solid #A2AAB1; */
/*display: none;*/
}

.niveles .flaticon-cars27:before,
.niveles .flaticon-transport122:before,
.niveles .flaticon-car21:before,
.niveles .flaticon-building98:before {
margin: 0;
font-size: 24px;
margin-right: 10px;
}

/*.niveles .flaticon-building98,
.niveles .info{
	display: inline-block;
	vertical-align: top;
	width: 45%;
}*/

.niveles .info {
font-size: 24px;
width: 120px;
}

.niveles div {
font-size: 18px;
}

.niveles input {
display: block;
margin: 10px auto;
padding: 5px 10px;
background: #FFF;
cursor: pointer;
font-size: 14px;
border-radius: 3px;
color: #3E474F;
}

.opciones{
display: none;
background: #3E474F;
width: 100%;
font-weight: bold;
color: #FFF;
padding: 10px 5px;
}

.opciones input{
font-size: 18px;
padding: 5px;
margin: 0 5px;
background-color: #FFF;
border-radius: 5px;
cursor: pointer;
/* background-color: #454545; */
/* border-color: #9C9C9C; */
}

.espacios_nivel{
display: none;
}

.espacios {
display: inline-block;
vertical-align: top;
width: 90px;
text-align: center;
background-color: #FFFFFF;
border: 3px solid #00AB6B;
color: #FFFFFF;
cursor: pointer;
padding: 0;
height: 100px;
margin: 5px;
border-radius: 5px;
}

/*.espacios:hover {
background-color: #FFFFFF;
border: 3px solid #FBFF04;
}
.espacios:hover > .estado {
background-color: #FBFF04;
color: #000;
text-shadow: 1px 1px 1px #FFF;
}*/

.espacios .flaticon-placeholder8:before {
color: #3E474F;    
margin: 0;
padding: 0;
font-size: 24px;
}

.estado {
background-color: #00AB6B;
margin: 0;
padding: 5px 0 0 0;
text-shadow: 1px 1px 1px #000;
font-size: 12px;
}

.detalle, .estado {
display: block;
height: 25px;
width: 100%;
}

.detalle {
height: 70px;
color: #3E474F;
}

.icono {
/*background: #dadada;*/
}

.icono, .nombre_espacio {
/* width: 35%; */
display: inline-block;
vertical-align: top;
font-size: 14px;
line-height: 70px;
}

.nombre_espacio {
font-size: 24px;
/* width: 40px; */
/* background: #ff5500; */
}

#registrar{
	display: none;
}

#btnRegistrar{
	cursor: pointer;
}

#btnCancelarRegistrar{
	cursor: pointer;
}

#liberar{
	display: none;
}